/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #ffb5d9, #ff6fb7, #ff4fa4);
    background-size: 400% 400%;
    animation: backgroundMove 15s ease infinite;
    color: white;
}

/* NAV */
.navbar {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(12px);
    background: rgba(255, 150, 200, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 50;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
}
.logo span {
    color: #ffe0f0;
}

.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.nav-links a:hover {
    color: #ffe5f6;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 8%;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.pink {
    color: #ffd1ea;
}

.hero-content p {
    font-size: 1.3rem;
    max-width: 500px;
    margin-bottom: 30px;
}

.hero-btn {
    background: #ff8ccf;
    border: none;
    padding: 14px 30px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.3s ease;
}
.hero-btn:hover {
    background: #ffb1e3;
    transform: scale(1.05);
}

/* SECTION TITLES */
section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* ABOUT */
.about {
    padding: 120px 10%;
    text-align: center;
}

/* PROJECTS */
.projects {
    padding: 120px 10%;
    text-align: center;
}

.project-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.project-card {
    background: rgba(255, 255, 255, 0.18);
    padding: 25px;
    border-radius: 18px;
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-7px) scale(1.03);
    border-color: #ffffffa8;
}

/* CONTACT */
.contact {
    padding: 120px 10%;
    text-align: center;
}

.email {
    color: #fff;
    font-size: 1.2rem;
}

@keyframes backgroundMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
